<h2>Login To Your Account</h2>

<form method="POST" action="/login">
Username:<li><input type="text" name="username" placeholder="Username"></li>
Password:<li><input type="password" name="password" placeholder="Password"></li>
Email:<li><input type="text" name="email" placeholder="Email"></li>
<input type="submit" name="submit">
</form>
