<h2>
  Items by <%= @user.username %>
</h2>
 <form action="/users/<%= @user.slug %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
   <input type="text" name="username">
   <input type="submit" value="submit">
</form>
<h2>Items!</h2> 
<ul>
  <% @user.items.all.each do |item| %>
    <li>
      <%= item.name %>
    </li>
  <% end %>
</ul>