<h2> Edit Item </h2>

<form method="post" action="/items/<%=@item.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="name" value="<%= @item.name %>">
  <input type="submit" value="submit">
</form>