<h3>Create New Item</h3>
<br/><br/>
<form method="POST" action="/items">
  Name: <input type="text" name="name" placeholder="item name">
  <br/>
  <br/>
  <button type="submit" id="submit">Submit</button>
</form>