
<%= @item.name %>


<form method="post" action="/items/<%=@item.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Item">
</form>

<a href="/items/<%=@item.id%>/edit">Edit Item </a>