
<%= @item.name %>

<form action="/items/<%= @item.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
   Name: <input type="text" name="name">
   <input type="submit" value="submit">
</form>
