<!DOCTYPE html>
 <html lang="en"> 
  <head>
    <meta charset="utf-8" />
    <title>ShoppingList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class='wrapper'>
    <% if logged_in? %>
      Welcome, <%= "#{current_user.username}" %>
      <a href="/logout">Sign Out</a><br>
    <% else %>
      Welcome!
      <a href="/signup">Sign up</a>
      <a href="/login">Log In</a><br>
    <% end %>
    <%= yield %>
      <footer class='branding'>
        <small>&copy; 2020 <strong>ShoppingList</strong></small>
      </footer>
    </div>
  </body>
</html>
